<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tin Aung Oo's portfolio showcasing about,skills, portfolio, and contact information." />
    <title>Tin Aung Oo</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header id="header">
        <h1>Tin Aung Oo</h1>
        <nav id="navbar" aria-label="Main navigation">
            <a href="/" tabindex="1">About</a>
            <a href="/#skills" tabindex="2">Skills</a>
            <a href="/projects" tabindex="3">Projects</a>
            <a href="/contact" tabindex="4">Contact</a>
        </nav>
    </header>